/* ***********************
 * Jessica Wang
 * Style sheet for lab4 
 *************************/

body {
        background-color: #E6DDDE;
        font: "Atlas Grotesk";
        font-size: 40px;
        color: white;
}

#header {
        font: "Atlas Grotesk";
        font-size: 40px;
        color: white;
}

div {
        text-align: center;
        font: "Atlas Grotesk";
        font-size: 27px;
        color: #654A4E;
}

img.resize {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: auto;
}