/* ***********************
 * Jessica Wang
 * Style sheet for lab4 
 *************************/

body, html {
        background-color: #E6DDDE;
}

#header {
        float: center;
        font: "Atlas Grotesk";
        font-size: 40px;
        color: white;
}

.leftcolumn {
        text-align: center;
        float: left;
        width: 33.33%;
        opacity: 0.2%;
}

.middlecolumn {
        text-align: center;
        float: middle;
        width: 33.33%;
        color: #654A4E;
        opacity: 0.2%;
}

.rightcolumn {
        text-align: center;
        float: right;
        width: 33.33%;
        opacity: 0.2%;
}

.row:after {
        content: "";
        display: table;
        clear: both;
}

/*div {
        text-align: center;
        font: "Atlas Grotesk";
        font-size: 27px;
        color: #654A4E;
}

img.resize {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: auto;
}*/