/* Style sheet for lab4 */

body {
        background-color: #FCF0F5;
        font-family: "Helvetica Neue";
        font-size: 24px;
        weight: 300;
        color: white;
}

div {
        text-align: center;
        color: white;
}